@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

*{
    /* color: black; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 10px;
}

h1{
    font-size: 30px;
}

ul, ol, li{
    list-style: none;
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

nav {
    /* border: 1px solid black; */
    margin: 0;
    /* background-color: rgb(41, 41, 41); */
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:visited {

    color: black;
}

.guitar-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(170, 170, 170);
    width: 150px;
    height: 240px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    box-shadow: -1px 4px 11px -1px rgba(0,0,0,0.54);
}

.guitar-card:hover {
    cursor: pointer;
    transform: scale(102%);
}


#guitar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100px;
    max-height: 100px;

}

button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(17, 169, 0);
    border-radius: 5px;
    padding: 5px;
    transition: filter 0.3s ease;
}

button:hover{
    filter: brightness(1.2);
}

button:active{
    transform: scale(96%);
}

#main-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    width: 400px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}