@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

*{
    color: black;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

ul, ol, li{
    list-style: none;
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

nav {
    /* border: 1px solid black; */
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
}

.guitar-card {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 30px;
    box-shadow: -12px 10px 30px 0px rgba(171,171,171,0.93);
}

.guitar-card:hover {
    cursor: pointer;
    transform: scale(102%);
}


#guitar-container {
    display: flex;
}

img {
    max-width: 100px;
    max-height: 100px;

}

button {
    cursor: pointer;
}

button:active{
    transform: scale(96%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}